/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
}

/* Card styling */
.birthday-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(43, 116, 158, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: #333;
    line-height: 1.6;
    background-image: url(../assets/back4.avif);
 background-size: cover;  */
     background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
} 

/* Title Styling */
h1 {
    font-size: 2em;
    color: #2b1ea5;
    margin-bottom: 20px;
    font-style:italic;
    
}

/* Paragraph Styling */
p {
    font-size: 1.1em;
    margin: 10px 0;
}

/* Strong Text Styling */
strong {
    color: #d71341;
    font-weight: bold;
}

/* Adding a touch of color */
p:last-child {
    font-size: 1.2em;
    font-style: italic;
    color: #9b9b9b;
}
/* /* .special-line {
    font-size: 1.2em;
    font-style: italic;
    color: #282425; /* A romantic rose color */
    /* margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.2); /* soft pink highlight */
    /* border-left: 4px solid #ba4b63;
    border-radius: 8px; */ 
 */


   